#file-upload-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#file-description {
    height: 100px;
}

.form-field {
    margin-bottom: 20px;
    margin-top: 5px;
    
}

#file-upload-form-submit {
    width: 20%;
    padding: 5px 5px 5px 5px;
    background-color: rgba(11, 226, 11, 0.76);
    border: none;
    color: ghostwhite;
}