.imageElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    
}
.img-inner-container {
    width: 100%;
}

#container {
    margin: 50px 50px;
}
.imageElement {
    margin-top: 50px;
}

.image-text-container {

}